<div class="grid">
  <div class="field col-12 md:col-3">
    <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl vtr-custom-card">
      <div class="flex justify-between gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight vtr-custom-title">
           Recuperados
          </span>
          <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight! vtr-custom-value">
            10
          </div>
        </div>
        <div class="flex items-center justify-center rounded-lg w-10 h-10 vtr-custom-icon-box vtr-bg-cyan">
          <i class="pi pi-envelope text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
        </div>
      </div>
      <div class="mt-4 vtr-custom-subtext">
        <span class="font-medium">Total geral</span>
        <span> Documentos recuperados</span>
      </div>
    </div>

  </div>

  <div class="field col-12 md:col-3">
    <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl vtr-custom-card">
      <div class="flex justify-between gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight vtr-custom-title">
           Recuperados
          </span>
          <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight! vtr-custom-value">
            5
          </div>
        </div>
        <div class="flex items-center justify-center rounded-lg w-10 h-10 vtr-custom-icon-box vtr-bg-orange">
          <i class="pi pi-map-marker text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
        </div>
      </div>
      <div class="mt-4 vtr-custom-subtext">
        <span class="font-medium">Com erro</span>
        <span> Erro na recuperaçao</span>
      </div>
    </div>
    
  </div>
  <div class="field col-12 md:col-3">
    <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl vtr-custom-card">
      <div class="flex justify-between gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight vtr-custom-title">
            Calculados
          </span>
          <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight! vtr-custom-value">
            6
          </div>
        </div>
        <div class="flex items-center justify-center rounded-lg w-10 h-10 vtr-custom-icon-box vtr-bg-slate">
          <i class="pi pi-file text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
        </div>
      </div>
      <div class="mt-4 vtr-custom-subtext">
        <span>Sucesso</span>
      </div>
    </div>
    

  </div>
  <div class="field col-12 md:col-3">
    <div class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl vtr-custom-card">
      <div class="flex justify-between gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight vtr-custom-title">
            Calculados
          </span>
          <div class="text-surface-900 dark:text-surface-0 font-semibold text-2xl! leading-tight! vtr-custom-value">
            4
          </div>
        </div>
        <div class="flex items-center justify-center rounded-lg w-10 h-10 vtr-custom-icon-box vtr-bg-violet">
          <i class="pi pi-users text-surface-0 dark:text-surface-900 text-xl! leading-none!"></i>
        </div>
      </div>
      <div class="mt-4 vtr-custom-subtext">
        <span class="font-medium">34567</span>
        <span> Divergencias</span>
      </div>
    </div>
  </div>


</div>



