<div class="vetorit-card">

  <p-table class="vetorit-table"
      [value]="inputCteResponse"
      [rows]="20"
      [paginator]="true"
      dataKey="id"
      [scrollable]="true"
      scrollWidth="1000px"
      [tableStyle]="{ 'min-width': '1000px' }"
      
      
      currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} templates"
>
     
    <ng-template pTemplate="header">
      <tr>

        <!--th pSortableColumn="invoiceKey" class="whitespace-nowrap">
                <div class="flex justify-content-between align-items-center">
                  <div>Chave</div>
                  <div class="flex align-items-center gap-2">
                    <p-sortIcon field="invoiceKey"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="invoiceKey"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th-->

        <th pSortableColumn="invoiceNumber" class="whitespace-nowrap">
                <div class="flex justify-content-between align-items-center">
                  <div> Numero</div>
                  <div class="flex align-items-center gap-2">
                    <p-sortIcon field="invoiceNumber"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="invoiceNumber"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th>
       <th pSortableColumn="cnpjCpfIssuer" class="whitespace-nowrap">
                <div class="flex justify-content-between align-items-center">
                  <div> Emitente</div>
                  <div class="flex align-items-center gap-2">
                    <p-sortIcon field="cnpjCpfIssuer"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="cnpjCpfIssuer"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th>

              <th pSortableColumn="cnpjCpfRecipient" class="whitespace-nowrap">
                <div class="flex justify-content-between align-items-center">
                  <div> Destinatário</div>
                  <div class="flex align-items-center gap-2">
                    <p-sortIcon field="cnpjCpfRecipient"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="cnpjCpfRecipient"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
              </th>
       
        
        <th pSortableColumn="entryDate" class="whitespace-nowrap">
                <div class="flex justify-content-between align-items-center">
                  <div> Data de entrada</div>
                  <div class="flex align-items-center gap-2">
                    <p-sortIcon field="entryDate"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="entryDate"
                      display="menu"
                      matchMode="contains"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [showAddButton]="false"
                    ></p-columnFilter>
                  </div>
                </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              CTE
            </div>
          </div>
        </th>
        
        
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <div class="flex flex-col">
            <span class="font-medium">{{ row.invoiceNumber }}</span>

          </div>
        </td>
        <!--td>{{ row.invoiceNumber }}</td-->
        <td>{{ row.razaoSocialEmitente }}</td>
        <td>{{ row.razaoSocialDestinatario }}</td>
        <td>{{ row.entryDate | date : 'dd/MM/yyyy' }}</td>
        <td style="text-align: center">
           <p-button
            icon="pi pi-file-pdf"
            styleClass="p-button-rounded p-button-secondary p-button-text"
            (click)="abrirDocumentoFiscalPdf(row.invoiceKey); $event.preventDefault()"
            type="button"
          >
          </p-button>
        </td>
        
      </tr>
    </ng-template>
  </p-table>

  <!-- DIALOG COM O VISUALIZADOR DE PDF -->
  <!--p-dialog
    [(visible)]="showPdfDialog"
    [modal]="true"
    [dismissableMask]="true"
    [closable]="true"
    [style]="{ width: '80vw' }"
    [contentStyle]="{ height: '80vh', padding: '0' }"
    [breakpoints]="{ '960px': '95vw', '640px': '100vw' }"
    header="Chave do CTE {{ selectedCteNumero ?? '' }}"
    (onShow)="onPdfDialogShow()"
    (onHide)="fecharPdfDialog()"
  >
    @if (selectedCteId) {
      <app-cte-viewer-pdf
        #viewerPdf
        [invoiceKey]="selectedCteId"
        [cteNumero]="selectedCteNumero ?? ''"
      >
      </app-cte-viewer-pdf>
    }
  </p-dialog-->

 
 

</div>