<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <p>© 2023 VetorIT</p>
    </div>
    <div class="footer-section">
      <a href="https://www.vetorit.com.br/">Sobre Nós</a>
      <a href="/contato">Contato</a>
      <a href="/privacidade">Política de Privacidade</a>
    </div>
    <!--div class="footer-section social-links">
      <a href="https://www.facebook.com/www.vetorit.com.br/" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon> Facebook
      </a>
      <a href="https://twitter.com/vetorit" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon> Twitter
      </a>
      <a href="https://www.instagram.com/vetorit/" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon> Instagram
      </a>
    </!--div-->
  </div>
</footer>