.footer {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;

    .footer-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        color: #ffffff;
        text-decoration: none;
        margin: 5px 0;
        display: flex;
        align-items: center;

        fa-icon {
          margin-right: 8px;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      &.social-links {
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}
