.vetor-laranja-checkbox {
  .p-checkbox .p-checkbox-box.p-highlight {
    background: #E1742E !important;   /* laranja VetorIT */
    border-color: #E1742E !important;
  }

  .p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
    color: #ffffff !important;
  }
}
