<div class="grid" data-cy="page-nfse">
  <div class="col-12">
    <app-nfse-header />
  </div>

  <div class="col-12">
    <!-- Enquanto não chegou nada: mostra tabela vazia com loading -->
    <ng-container *ngIf="nfseResponse$ | async as data; else loadingTpl">
      <app-nfse-table
        [inputNFSeResponse]="data"
        [inputLoading]="loading">
      </app-nfse-table>
    </ng-container>

    <ng-template #loadingTpl>
      <app-nfse-table
        [inputNFSeResponse]="[]"
        [inputLoading]="loading">
      </app-nfse-table>
    </ng-template>
  </div>
</div>
