<div class="grid">
  <div class="col-12">
    <app-nsfe-header/>
  </div>
  <!--div class="col-12">
    <app-nsfe-table 
    [data]="nfse"
    />
  </!--div-->

  <div class="col-12">
    <!-- Enquanto não chegou nada: loading -->
    <ng-container *ngIf="nfse$ | async as data; else loadingTpl">
      <app-nsfe-table
        [data]="data"
        [loading]="false">
      </app-nsfe-table>
    </ng-container>

    <ng-template #loadingTpl>
      <app-nsfe-table
        [data]="[]"
        [loading]="true">
      </app-nsfe-table>
    </ng-template>
  </div>
</div>
