<div class="grid" data-cy="page-nfe">

  <!-- Header com badge de total -->
  <div class="col-12">
    <app-nfe-header
      >
    </app-nfe-header>
  </div>

  <!-- Tabela -->
  <div class="col-12">
    <ng-container *ngIf="nfeResponse$ | async as data; else loadingTpl">
      <app-nfe-table
        [inputNFeResponse]="data"
        [inputLoading]="loading"
        (outPutRecuperarDocumento)="recuperarDocumentoFiscal($event)"
        >
      </app-nfe-table>
    </ng-container>

    <ng-template #loadingTpl>
      <app-nfe-table
        [inputNFeResponse]="[]"
        [inputLoading]="loading">
      </app-nfe-table>
    </ng-template>

  </div>
  
</div>

