<div class="grid" data-cy="page-rel-errosprocessamentos">
  <div class="col-12">
    <app-errosprocessmento-header/>
  </div>
  
  <div class="col-12">
     <ng-container *ngIf="errosprocessamento$ | async as data; else loadingTpl">
      <app-errosprocessmento-table
        [data]="data"
        [loading]="false"
        (outPutDeleteRegistroErro)="onDeleteErroProcessamento($event)"
        >
      </app-errosprocessmento-table>
    </ng-container>

    <ng-template #loadingTpl>
      <app-errosprocessmento-table
        [data]="[]"
        [loading]="true">
        
      </app-errosprocessmento-table>
    </ng-template>

   
    
  </div>
</div>

