:root {
  --vt-orange: #E1752E;   /* laranja */
  --vt-mustard:#F0AC22;   /* mostarda */
  --vt-yellow: #FEE00A;   /* amarelo */
  --vt-bg: #f5f7fb;       /* fundo da área de conteúdo */
  --vt-sidebar: #111827;  /* fundo sidebar (cinza quase preto) */
  --vt-sidebar-2: #0b1220;/* hover/active leve */
  --vt-border: #e5e7eb;   /* bordas claras */
  --vt-text: #0f172a;     /* texto escuro */
}
